<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqoo.device.mapper.ScreenBaseInfoMapper">

    <!-- 查询条件 -->
    <!-- 此处仅生成批量insert方法和当前表所有字段查询条件，其余单条记录插叙和分页查询等使用myBatisPlus -->
    <!--
    <if test="id != null">
        and id = #{id}
    </if>
    <if test="delFlag != null">
        and del_flag = #{delFlag}
    </if>
    <if test="screenStatus != null">
        and screen_status = #{screenStatus}
    </if>
    <if test="screenPositionLong != null">
        and screen_position_long = #{screenPostionLong}
    </if>
    <if test="screenPositionLati != null">
        and screen_position_lati = #{screenPositionLati}
    </if>
    <if test="screenSize != null">
        and screen_size = #{screenSize}
    </if>
    <if test="screenName != null and screenName != ''">
        and screen_name = #{screenName}
    </if>
    <if test="screenAddress != null and screenAddress != ''">
        and screen_address = #{screenAddress}
    </if>
    <if test="screenLabel != null and screenLabel != ''">
        and screen_label = #{screenLabel}
    </if>
    <if test="screenInstaller != null and screenInstaller != ''">
        and screen_installer = #{screenInstaller}
    </if>
    <if test="screenInstallerPhone != null and screenInstallerPhone != ''">
        and screen_installer_phone = #{screenInstallerPhone}
    </if>
    <if test="screenTips != null and screenTips != ''">
        and screen_tips = #{screenTips}
    </if>
    <if test="createDate != null">
        and create_date = #{createDate}
    </if>
    <if test="createBy != null and createBy != ''">
        and create_by = #{createBy}
    </if>
    <if test="updateDate != null">
        and update_date = #{updateDate}
    </if>
    <if test="updateBy != null and updateBy != ''">
        and update_by = #{updateBy}
    </if>
    <if test="remarkTips != null and remarkTips != ''">
        and remark_tips = #{remarkTips}
    </if>
    -->

    <insert id="insertList" parameterType="java.util.List">
        insert into xqoo_device_manager.screen_base_info(
            id,
            del_flag,
            screen_status,
            screen_position_long,
            screen_position_lati,
            screen_size,
            screen_name,
            screen_address,
            screen_label,
            screen_installer,
            screen_installer_phone,
            screen_tips,
            create_date,
            create_by,
            update_date,
            update_by,
            remark_tips
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.id},
            #{item.delFlag},
            #{item.screenStatus},
            #{item.screenPositionLong},
            #{item.screenPositionLati},
            #{item.screenSize},
            #{item.screenName},
            #{item.screenAddress},
            #{item.screenLabel},
            #{item.screenInstaller},
            #{item.screenInstallerPhone},
            #{item.screenTips},
            #{item.createDate},
            #{item.createBy},
            #{item.updateDate},
            #{item.updateBy},
            #{item.remarkTips}
        )
        </foreach>
    </insert>

</mapper>
