<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqoo.annex.mapper.FooterNavGroupMapper">

    <!-- 查询条件 -->
    <!-- 此处仅生成批量insert方法和当前表所有字段查询条件，其余单条记录插叙和分页查询等使用myBatisPlus -->
    <!--
    <if test="id != null">
        and id = #{id}
    </if>
    <if test="needRedirect != null">
        and need_redirect = #{needRedirect}
    </if>
    <if test="redirectUrl != null and redirectUrl != ''">
        and redirect_url = #{redirectUrl}
    </if>
    <if test="iconName != null and iconName != ''">
        and icon_name = #{iconName}
    </if>
    <if test="groupName != null and groupName != ''">
        and group_name = #{groupName}
    </if>
    <if test="groupTips != null and groupTips != ''">
        and group_tips = #{groupTips}
    </if>
    <if test="createDate != null">
        and create_date = #{createDate}
    </if>
    <if test="createBy != null and createBy != ''">
        and create_by = #{createBy}
    </if>
    <if test="updateDate != null">
        and update_date = #{updateDate}
    </if>
    <if test="updateBy != null and updateBy != ''">
        and update_by = #{updateBy}
    </if>
    <if test="remarkTips != null and remarkTips != ''">
        and remark_tips = #{remarkTips}
    </if>
    -->

    <insert id="insertList" parameterType="java.util.List">
        insert into kxst_system_affiliated.footer_nav_group(
        need_redirect,
        redirect_url,
        icon_name,
        group_name,
        group_tips,
        create_date,
        create_by,
        update_date,
        update_by,
        remark_tips
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.needRedirect},
            #{item.redirectUrl},
            #{item.iconName},
            #{item.groupName},
            #{item.groupTips},
            #{item.createDate},
            #{item.createBy},
            #{item.updateDate},
            #{item.updateBy},
            #{item.remarkTips}
            )
        </foreach>
    </insert>

</mapper>