<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqoo.authorization.mapper.SysRoleApiMapper">

    <resultMap type="com.xqoo.authorization.entity.SysRoleApiEntity" id="SysRoleApiMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="apiId" column="api_id" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="remarkTips" column="remark_tips" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysRoleApiMap">
        select
          id, role_id, api_id, create_by, create_date, update_by, update_date, remark_tips
        from xqoo_system_console.sys_role_api
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysRoleApiMap">
        select
          id, role_id, api_id, create_by, create_date, update_by, update_date, remark_tips
        from xqoo_system_console.sys_role_api
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysRoleApiMap">
        select
        id, role_id, api_id, create_by, create_date, update_by, update_date, remark_tips
        from xqoo_system_console.sys_role_api
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="apiId != null">
                and api_id = #{apiId}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="remarkTips != null and remarkTips != ''">
                and remark_tips = #{remarkTips}
            </if>
        </where>
    </select>

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO xqoo_system_console.sys_role_menu(
        role_id, api_id, create_by, create_date, update_by, update_date, remark_tips
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{list.roleId},
                #{list.apiId},
                #{list.createBy},
                #{list.createDate},
                #{list.updateBy},
                #{list.updateDate},
                #{list.remarkTips}
            )
        </foreach>
    </insert>

</mapper>
