package ${packageName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${packageName}.entity.${className}Entity;
import com.xqoo.common.core.entity.CurrentUser;
import com.xqoo.common.entity.ResultEntity;
import com.xqoo.common.page.PageRequestBean;
import com.xqoo.common.page.PageResponseBean;

import java.util.List;

/**
 * 数据源表(${tableName})表服务接口
 *
 * @author ${author}
 * @date ${dateTime}
 */

public interface ${className}Service extends IService<${className}Entity> {

#set($pkJavaFieldType='Integer')
#set($pkJavaFieldName='id')
#foreach($column in $columns)
#if($column.primaryKey)
    #set($pkJavaFieldType=${column.javaFieldType})
    #set($pkJavaFieldName=${column.javaFieldName})
#end
#end
    /**
    * 分页查询${tableName}
    * @param page
    * @return
    */
    ResultEntity<PageResponseBean<${className}Entity>> pageGetList(PageRequestBean page);

    /**
    * 批量插入${tableName}
    * @param list
    * @param currentUser
    * @return
    */
    ResultEntity<String> insertList(List<${className}Entity> list, CurrentUser currentUser);

    /**
    * 获取${tableName}主键记录了
    * @return
    */
    ${className}Entity getOne${className}EntityByPrimaryKey(${pkJavaFieldType} ${pkJavaFieldName});
}
